
@import '../variables.scss';


* {
  font-family: Arial, Helvetica, sans-serif;
}
.address-card {
    left: 270px;
    margin-top: 20px;
    width: 655px;
    border: 1px solid $faintGrey;
    border-radius: 1px;
    background: $white 0% 0% no-repeat padding-box;
}


