
.supermarket-icon {
    margin-left: 50px;
    margin-top: -2px;

}
.title {
    font-size: 14px;
    font-weight: 15px;
   color: $white;
   padding-left:-25px;
}
.avatar {
    margin-left: 110px;
    margin-top: 1px;
}
#top-search-bar {
    margin-top: 22px;
    margin-left: 40px;
   
    width: 600px;
}
.main-bar {
    color: $brown;
}

.book-icon {  
    margin-top: 1px;
    margin-left: 180px;
    max-height:60px;
    max-width:60px;
}

.white {
    font-variant: normal;
}