@import '../variables.scss';

.book-icon {
   
    margin-left: 50px;
}
.supermarket-icon {
    margin-left: 50px;
}
.title {
    font-size: 14px;
    font-weight: 15px;
   color: $white
}
.avatar {
    margin-left: 38px;
}
#top-search-bar {
    margin-top: 22px;
    margin-left: 420px;
   
    width: 900px;
}
.main-bar {
    color: $brown;
}