@import './common.scss';
@import '../variables.scss';

.mx-auto {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%)
   ; background-color: $brown;
}

.main-bar {
    box-shadow: 0px 0px 0px 0px;
}

.app {
color: black;
}
.md-avatar-icon {
    padding-left: 8px;
    padding-right: 12px;
}


#top-search-bar {
    margin-top: 22px;
    padding-left: 350px;
    width: 500px;
}


.main {
    padding-left: 15%;
}

