@import './common.scss';
@import '../variables.scss';
body{

  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.display-card{
  top: 0px;
  left: 0px;
  height: 102%;
  background-color: #878787;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;


  }
 
  .main-card {
    top: 100px;
    right: 260px;
    width: 389px;
    height: 475px;
   @include login-or-register;

  }
  .shopping-card{
    top: 130px;
    left: 190px;
    width: 389px;
    height: 415px;
   @include login-or-register;

  }
  .button {
    background: $brown 0% 0% no-repeat padding-box;
    width: 352px;
    height: 37px;
    left: 727px;
    color: $white;
    font-size: 18px; 
  }

.image {
  top: 237px;
  left: 373px;
  max-width: 245px;
  background: transparent url('./images/shopping-trolly.png') 0% 0% no-repeat padding-box;
 
}