@import './common.scss';
@import '../variables.scss';
body{

  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.display-card{
  top: 0px;
  left: 0px;
  height: 102%;
  background-color: #878787;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;


  }
 
  .main-card {
    top: 100px;
    right: 260px;
    width: 389px;
    height: 475px;
   @include login-or-register;

  }
  .shopping-card{
    top: 167px;
    left: 190px;
    width: 389px;
    height: 415px;
   @include login-or-register;

  }

  .book-image1 {
    height: 240px;
    width: 240px;
   
 margin-left: 20px;
 margin-top: 30px;
    justify-self: center;
 
}

  .button {
    background: $brown 0% 0% no-repeat padding-box;
    width: 352px;
    height: 37px;
    left: 727px;
    color: $white;
    font-size: 18px; 
  }
  

  .shopping-text {
    font-size: 19px;
    margin-top: 73px;
    margin-left: 10px;
  font-style: normal;
  font-weight: bold;
  
  }

